<%- include("header") -%>

<body>
  <form action="/" method="post">
    <header>
      <button type="submit" class="button portfolio2 col-<%= mode_invert %>" name="button">PORTFOLIO</button>
    </header>
  </form>
  <!--section2-->
  <div class="section-2  bg-<%= mode %>">
    <div class="z">
      <div class="z-1">
        <h1 class="col-<%= mode_invert %> a1"><a href="/about" class="text-1"></a></h1>
        <h1 class="col-<%= mode_invert %> a2"><a href="/work" class="text-2"></a></h1>
        <h1 class="col-r a3"><a href="/contact" class="text-3"></a></h1>
      </div>
    </div>
    <footer class="footer-2"><span class="span col-<%= mode_invert %>">Tap anywhere</span></footer>
  </div>
  <!-- JaveScript -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script src="js/script-2.js"></script>
</body>

</html>
